.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: green;
}

.green {
  color: green;
}

.background--light_grey {
  background-color: #BDBDBD;
}

.navbar, a {
  color: #558B2F;
}

html, body {
  margin: 0;
  position: relative;
}

h1, h2, h3 {
  margin: 0px;
}

.page-conteneur {
  width: 100%;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  opacity: 1;
  font-family: "Flatform_light";
}

.website_title, h1 {
  font-size: 5em;
}

.website_template {
  background-color: #424242;
  opacity: 0.8;
}

.green_link a, a:hover {
  color: #558B2F;
  text-decoration: none;
}

header nav a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  -webkit-transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.5s;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.5s;
  font-size: 1em;
}

header a:hover, a:focus {
  text-decoration: none;
  background-size: 100% 4px;
}

.forfait_main {
  background-color: #cfd8dc;
}

.forfait_article {
  background-color: #FAFAFA;
  width: 70%;
  margin: 50px 0px 50px 0px;
}

.header_img {
  border: 6px solid #558B2F;
  width: 100%;
}

.center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.div_link {
  border: solid;
  border-color: #558B2F;
  text-decoration: none;
  color: #558B2F;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.section_title {
  padding: 20px 0px 0px 0px;
}

.div_link::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.div_link a {
  text-decoration: none;
}

.cpf_img img {
  width: 60%;
  margin: auto;
}

.main_formules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.formule {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border: solid #D3D3D3 2px;
  border-radius: 5px;
}

.formule_title {
  background-color: #f44336;
}

.formule h2 {
  font-size: 25px;
}

.formule h4 {
  font-size: 16px;
}

.formule h3 {
  font-size: 70px;
  color: #e53935;
  padding-bottom: 30px;
  padding: 0px 15px 30px 15px;
}

.formule img {
  padding-bottom: 40px;
  width: 120px;
  padding: 0px 15px 40px 15px;
}

.formule button {
  margin-bottom: 30px;
}

.contact {
  font-size: 10px;
}

.contact > * {
  margin: 3px 0px 3 px 0px;
}

.contact, span {
  font-size: 1.4em;
}

footer a {
  color: #ffffff;
  font-size: 0.6em;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

#navbarDropdown:hover > .dropdown-menu {
  display: block;
}

@font-face {
  font-family: "Flatform_light";
  src: url("../Polices/Flatform_light/flatform_light.otf");
}
/*# sourceMappingURL=styles.css.map */