.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

.green {
  color: #558B2F;
}

html, body {
  margin: 0;
  position: relative;
}

h1, h2, h3 {
  margin: 0px;
}

.page-conteneur {
  width: 100%;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  opacity: 1;
  font-family: "Flatform_light";
  max-height: 200px;
}

.website_title, h1 {
  font-size: 5vw;
  padding: 0px 0px 0px 40px;
}

.website_template {
  background-color: #424242;
  opacity: 0.8;
}

.navbar, a {
  color: lightgrey;
}

.green_link a, a:hover {
  color: #558B2F;
  text-decoration: none;
}

header nav a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  -webkit-transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.5s;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.5s;
  font-size: 1em;
}

header a:hover, a:focus {
  text-decoration: none;
  background-size: 100% 4px;
}

.forfait_main {
  background-color: #cfd8dc;
}

.forfait_article {
  background-color: #FAFAFA;
  width: 90%;
  margin: 50px 0px 50px 0px;
}

.article_header {
  margin: 40px 0px 40px 0px;
}

.forfait_title {
  background-color: #424242;
  width: 100%;
  color: white;
  text-align: center;
  min-height: 70px;
}

.pack_description {
  width: 80%;
  margin: 50px 40px 50px 40px;
  -webkit-box-shadow: 0px 1px 1px 1px grey;
          box-shadow: 0px 1px 1px 1px grey;
  min-width: 400px;
  max-width: 300px;
}

.packs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forfait_component {
  list-style: none;
  width: 100%;
}

.forfait_component li {
  margin: 10px 0px 10px 0px;
}

.forfait_component li::before {
  content: "\25AA";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #558B2F;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.forfait_explications {
  width: 80%;
}

.forfait_explications * {
  margin: 15px 0px 10px 0px;
}

.forfait_explications h2 {
  text-align: center;
}

.forfait_conversation {
  width: 80%;
}

.forfait_explications h2 h3 {
  color: #424242;
}

.button {
  border-radius: 4px;
  background-color: #558B2F;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.header_img {
  border: 6px solid #558B2F;
  width: 100%;
  background-color: white;
}

.center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.div_link {
  border: solid;
  border-color: #558B2F;
  text-decoration: none;
  color: #558B2F;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.section_title {
  padding: 20px 0px 0px 0px;
}

.div_link::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.div_link a {
  text-decoration: none;
}

.cpf_img img {
  width: 60%;
  margin: auto;
}

.main_formules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.formule {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border: solid #D3D3D3 2px;
  border-radius: 5px;
}

.formule_title {
  background-color: #558B2F;
}

.formule h2 {
  font-size: 25px;
}

.formule h4 {
  font-size: 16px;
}

.formule img {
  padding-bottom: 40px;
  width: 120px;
  padding: 0px 15px 40px 15px;
}

.formule_price {
  font-size: 70px;
  color: #558B2F;
  padding-bottom: 30px;
  padding: 15px 20px 15px 20px;
}

.formule button {
  margin-bottom: 30px;
}

.contact {
  font-size: 10px;
}

.contact > * {
  margin: 3px 0px 3 px 0px;
}

.contact, span {
  font-size: 1.4em;
}

footer a {
  color: #ffffff;
  font-size: 0.9em;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

#navbarDropdown:hover > .dropdown-menu {
  display: block;
}

@font-face {
  font-family: "Flatform_light";
  src: url("../Polices/Flatform_light/flatform_light.otf");
}
/*# sourceMappingURL=styles.css.map */